<div class="container mt-4">
  <h2 class="mb-4 text-center">本を探す</h2>
  
  <div class="mb-4">
    <%= render 'user/books/search' %>
  </div>
  
  <% @books.each do |book| %>
    <%= link_to book_path(book), class: "row border p-3 mb-3 text-decoration-none text-dark" do %>
      <!-- Product Image -->
      <div class="col-md-3">
        <%= image_tag book.image, class: "img-fluid book-img rounded" %>
      </div>

      <!-- Product Information -->
      <div class="col-md-9">
        <h4 class="mb-2"><%= book.title %></h4>
        <p><%= book.author %> | <span><%= book.published_day.strftime("%Y-%m-%d") %></span></p>
        <div class="difficulty_rating mb-4">
          <div class="d-flex align-items-center">
            <span class="difficulty-level">難易度Lv: <%= book.avg_difficulty %></span>
          </div>
          <div class="progress" style="width: 50%;">
            <div class="progress-bar" role="progressbar" style="width: <%= book.post_difficulty_percentage %>%;" aria-valuenow="<%= book.post_difficulty_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <!-- Rating -->
        <div class="mb-2">
          <span class="text-muted">レビュー数：<%= book.posts.count %></span> <br>
          <span class="text-muted">カテゴリー：<%= book.category %></span>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <div class="d-flex justify-content-center">
    <%= paginate @books, theme: 'bootstrap-5' %>
  </div>
</div>
