<h1> 一覧 </h1>
<ul>
  <% @books.each do |book| %>
    <%= link_to book_path(book) do %>
        <%= book.title %><br>
        <%= book.posts.count %><br>
        <%= book.difficulty %><br>
        <%= image_tag book.image %><br>
    <% end %>
  <% end %>
</ul>