<main class="container mt-4" data-controller="show-book">
    <div class="row">
        <!-- Book Info Section -->
        <div class="col-md-3">
            <div class="book-info text-center">
                <%= image_tag @book.image ,class:"book-img-top"%>
                <h5 class="mt-3"><%= @book.title%></h5>
                <p><%= @book.author%></p>
            </div>
            <!-- Sidebar content: ratings, related books -->
            <div class="side-section">
                <h6>その他情報</h6>
                <p>カテゴリー: <%= @book.category%></p>
                <p>出版日: <%= @book.published_day%></p>
                <p>ページ数: <%= @book.volume%></p>
                <p>言語: <%= @book.language%></p>
                <p>出版社: <%= @book.company%></p>
                <a href="<%= @book.link%>">Amazon Link </a>
            </div>
        </div>

        <!-- Main Content Section -->
        <div class="col-md-9">
            <!-- Book Details -->
            <section class="mb-4">
                <h4 class="mb-3">難易度Lv: <%= @book.avg_difficulty%></h4>
                <div class="difficulty_rating mb-3" style="width: 50%;">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @book.post_difficulty_percentage %>%;" aria-valuenow="<%= @book.post_difficulty_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </section>

            <!-- User Comments/Activities Section -->
            <section>
                <% if user_signed_in? %>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4>自分の投稿</h4>
                        <% if @user_posts.any?%>
                            <%= link_to edit_book_post_path(@book) do %>
                                編集する
                            <% end %>
                        <% else %>
                            <%= link_to new_book_post_path(@book) do %>
                                投稿する
                            <% end %>
                        <% end %>
                    </div>
                    <% if @user_posts.any?%>
                        <% @user_posts.each do |user_post| %>
                            <div class="comment-section">
                                <div class="d-flex align-items-start">
                                    <% if current_user.icon.attached? %>
                                        <%= image_tag current_user.icon ,class:"icon-img rounded-circle me-3"%>
                                    <% else %>
                                        <%= image_tag 'default_icon.webp',class:"icon-img rounded-circle me-3"%>
                                    <% end %>
                                    <div class="w-100">
                                        <%= link_to user_path(current_user) do %>
                                            <h6><%= current_user.name %> <%= current_user.level%></h6>
                                        <% end %>
                                        <div class="difficulty_rating mb-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span>難易度Lv: <%= user_post.difficulty%></span>
                                            </div>
                                            <div class="progress mt-2 w-25">
                                                <div class="progress-bar" role="progressbar" style="width: <%= user_post.difficulty.round(1).to_f*100/5 %>%;" aria-valuenow="<%= user_post.difficulty.round(1).to_f*100/5 %>" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <p class="user-post-content" id="user_post_<%= user_post.id %>"><%= user_post.content %></p>
                                        <button class="btn btn-link p-0 show-more-btn" id="showMoreBtn_<%= user_post.id %>" style="display: none;">続きを読む</button>
                                        <small class="text-muted">投稿日: <%= user_post.created_at.strftime('%Y/%m/%d') %></small>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="comment-section">
                            <div class="d-flex align-items-start">
                                <% if current_user.icon.attached? %>
                                    <%= image_tag current_user.icon ,class:"icon-img rounded-circle me-3"%>
                                <% else %>
                                    <%= image_tag 'default_icon.webp',class:"icon-img rounded-circle me-3"%>
                                <% end %>
                                <div>
                                    <%= link_to user_path(current_user) do %>
                                        <h6><%= current_user.name %> <%= current_user.level%></h6>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>ユーザーの投稿</h4>
                </div>
                <!-- Repeat this block for each comment -->
                <% @posts.each do |post| %>
                    <div class="comment-section">
                        <div class="d-flex align-items-start">
                            <% if post.user.icon.attached? %>
                                <%= image_tag post.user.icon ,class:"icon-img rounded-circle me-3"%>
                            <% else %>
                                <%= image_tag 'default_icon.webp',class:"icon-img rounded-circle me-3"%>
                            <% end %>
                            <div class="w-100">
                                <%= link_to user_path(post.user) do %>
                                    <h6><%= post.user.name %> <%= post.user.level%></h6>
                                <% end %>
                                <div class="difficulty_rating mb-2">
                                    <div class="d-flex align-items-center">
                                        <span>難易度Lv: <%= post.difficulty%></span>
                                    </div>
                                    <div class="progress mt-2 w-25">
                                        <div class="progress-bar" role="progressbar" style="width: <%= post.difficulty.round(1).to_f*100/5 %>%;" aria-valuenow="<%= post.difficulty.round(1).to_f*100/5 %>" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <p class="post-content" id="post_<%= post.id %>"><%= post.content %></p>
                                <button class="btn btn-link p-0 read-more-btn" id="readMoreBtn_<%= post.id %>" style="display: none;">続きを読む</button>
                                <% if user_signed_in? %>
                                    <small class="text-muted" id="like_btn_<%= post.id %>">
                                        <%= render "user/likes/btn", post: post %>
                                    </small>
                                <% else %>
                                    <small class="text-muted" id="like_btn_<%= post.id %>">
                                        <i class="fa-regular fa-heart" aria-hidden="true"></i>
                                        <%= post.likes.count %> いいね
                                    </small>
                                <% end %>
                                <small class="text-muted">投稿日: <%= post.created_at.strftime('%Y/%m/%d') %></small>
                            </div>
                        </div>
                    </div>
                <% end %>
                <!-- More comments go here -->
            </section>
        </div>
    </div>
</main>