<h2><%= @book.title%></h2>
<h2><%= @book.difficulty%></h2>
<p><%= @book.description%></p>
<div><%= image_tag @book.image%></div>

<div>
    <%= link_to new_book_post_path(@book) do %>
      投稿する
    <% end %>
</div>
<p>ユーザーの投稿</p>
<ul>
    <% @posts.each do |post| %>
        <p><%= post.difficulty %></p>
        <p><%= post.content %></p>
        <p>いいね件数：<%= post.likes.count%></p>
        <% if current_user.already_liked?(post) %>
            <%= button_to 'いいねを取り消す', post_like_path(post), method: :delete %>
        <% else %>
            <%= button_to 'いいね', post_likes_path(post) %>
        <% end %>
    <% end %>
</ul>