<h1>Edit Book</h1>

<%= form_with model: @book , url: admin_book_path(@book) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :published_day %><br>
    <%= form.date_field :published_day %>
  </div>

  <div>
    <%= form.label :volume %><br>
    <%= form.number_field :volume %>
  </div>

  <div>
    <%= form.label :language %><br>
    <%= form.text_field :language %>
  </div>

  <div>
    <%= form.label :company %><br>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label :link %><br>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit "更新"%>
  </div>
<% end %>
