<h1> 一覧 </h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.title %><br>
      <%= book.description %><br>
      <%= image_tag book.image %><br>
      <%= link_to "編集", edit_admin_book_path(book)%>
      <%= button_to "削除", admin_book_path(book), method: :delete%>
    </li>
  <% end %>
</ul>