<h1>Edit</h1>

<%= form_with model: @user , url: user_path(@user) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit "更新"%>
  </div>
<% end %>