<main class="container mt-4">
    <div class="row">
        <aside class="col-md-3">
            <% if @user.icon.attached? %>
                <%= image_tag @user.icon, class: "profile-img" %>
            <% else %>
                <%= image_tag 'default_icon.webp', class: "profile-img" %>
            <% end %>

            <!-- Name and Username -->
            <h2 class="profile-name"><%= @user.name%></h2>

            <!-- Social Icons -->
            <div class="social-icons">
                <% if @user.github_url.present?%>
                    <a href="https://www.github.com/<%= @user.github_url%>"><i class="fa-brands fa-github"></i></a>
                <% end %>
                <% if @user.x_url.present?%>
                    <a href="https://www.x.com/<%= @user.x_url%>"><i class="fa-brands fa-x-twitter"></i></a>
                <% end %>
            </div>

            <!-- Contributions -->
            <div class="contributions"><%= @user.level %></div>
            <div class="contributions">レビュー数；<%= @user.posts.count %></div>

            <!-- Bio -->
            <p class="bio">
                <%= @user.self_introduction%>
            </p>

            <% if user_signed_in? %>
                <% if @user.id == current_user.id %>
                    <%= link_to "プロフィールの編集", edit_user_path(@user) %>
                <% end %>
            <% end %>
        </aside>
        <section class="col-md-9">
            <h4 class= "mb-3 mt-3">レビューした本一覧</h4>
            <div class="row">
                <% @books.each do |book| %>
                    <div class="col-md-3">
                        <%= link_to book_path(book) do %>
                            <div class="card text-center mb-4 mypage-card">
                                <%= image_tag book.image, class: "product-img" %>
                                <div class="card-body">
                                    <!-- 難易度表示とレビュー数を同じ行に配置 -->
                                    <div class="difficulty-rating-container d-flex align-items-center justify-content-center">
                                        <span class="difficulty-level">難易度Lv: <%= book.avg_difficulty %></span>
                                        <small class="review-count ml-2">
                                        （<i class="fa-regular fa-comment"></i>
                                        <%= book.posts.count %>）
                                        </small>
                                    </div>
                                    <!-- プログレスバー -->
                                    <div class="progress mb-3">
                                        <div class="progress-bar"
                                            role="progressbar"
                                            style="width: <%= book.post_difficulty_percentage %>%;"
                                            aria-valuenow="<%= book.post_difficulty_percentage %>"
                                            aria-valuemin="0"
                                            aria-valuemax="100">
                                        </div>
                                    </div>
                                    <!-- タイトルは控えめなスタイル -->
                                    <p class="card-text product-title book-title"><span><%= book.title %></span></p>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <%= paginate @books, theme: 'bootstrap-5' %>
        </section>
    </div>
</main>
