<div class="col-12 col-md-4 col-lg-3 mb-4">
  <%= link_to book_path(book), class: "card product-card h-100" do %>
    <%= image_tag book.image, class: "card-img-top" %>
    <div class="card-body">      
      <div class="difficulty-rating-container d-flex align-items-center justify-content-center mb-2">
        <span class="difficulty-level">難易度Lv: <%= book.avg_difficulty %></span>
        <small class="review-count ml-2">
          （<i class="fa-regular fa-comment"></i>
          <%= book.posts.count %>）
        </small>
      </div>
      
      <div class="progress mb-3">
        <div class="progress-bar"
             role="progressbar"
             style="width: <%= book.post_difficulty_percentage %>%;"
             aria-valuenow="<%= book.post_difficulty_percentage %>"
             aria-valuemin="0"
             aria-valuemax="100">
        </div>
      </div>
      
      <p class="card-text book-title"><span><%= book.title %></span></p>
    </div>
  <% end %>
</div>
