<div class="container my-4">

  <div class="section-header d-flex justify-content-between align-items-center">
    <h4>レビュー数の多い本</h4>
  </div>

  <!-- スマホ用カルーセル (xs〜sm) -->
  <div class="d-block d-md-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'postCarouselSmartphone', 
          items: @books_popular, 
          slice_size: 1 
        } %>
  </div>

  <!-- iPad用カルーセル (md以上〜lg未満) -->
  <div class="d-none d-md-block d-lg-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'postCarouselIpad', 
          items: @books_popular, 
          slice_size: 3 
        } %>
  </div>

  <!-- PC用カルーセル (lg以上) -->
  <div class="d-none d-lg-block mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'postCarouselDesktop', 
          items: @books_popular, 
          slice_size: 4 
        } %>
  </div>

  <div class="section-header d-flex justify-content-between align-items-center">
    <h4>初級者向けの本(難易度Lv 1~3)</h4>
  </div>
  <div class="d-block d-md-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'lowCarouselSmartphone', 
          items: @books_beginner, 
          slice_size: 1 
        } %>
  </div>
  <div class="d-none d-md-block d-lg-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'lowCarouselIpad', 
          items: @books_beginner, 
          slice_size: 3 
        } %>
  </div>
  <div class="d-none d-lg-block mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'lowCarouselDesktop', 
          items: @books_beginner, 
          slice_size: 4 
        } %>
  </div>

  <div class="section-header d-flex justify-content-between align-items-center">
    <h4>中級者向けの本(難易度Lv 2~4)</h4>
  </div>
  <div class="d-block d-md-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'midCarouselSmartphone', 
          items: @books_intermediate, 
          slice_size: 1 
        } %>
  </div>
  <div class="d-none d-md-block d-lg-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'midCarouselIpad', 
          items: @books_intermediate, 
          slice_size: 3 
        } %>
  </div>
  <div class="d-none d-lg-block mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'midCarouselDesktop', 
          items: @books_intermediate, 
          slice_size: 4 
        } %>
  </div>

  <div class="section-header d-flex justify-content-between align-items-center">
    <h4>上級者向けの本(難易度Lv 3~5)</h4>
  </div>
  <div class="d-block d-md-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'highCarouselSmartphone', 
          items: @books_advanced, 
          slice_size: 1 
        } %>
  </div>
  <div class="d-none d-md-block d-lg-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'highCarouselIpad', 
          items: @books_advanced, 
          slice_size: 3 
        } %>
  </div>
  <div class="d-none d-lg-block mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'highCarouselDesktop', 
          items: @books_advanced, 
          slice_size: 4 
        } %>
  </div>

  <div class="section-header d-flex justify-content-between align-items-center">
    <h4>新着の本</h4>
  </div>
  <div class="d-block d-md-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'newCarouselSmartphone', 
          items: @books_new, 
          slice_size: 1 
        } %>
  </div>
  <div class="d-none d-md-block d-lg-none mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'newCarouselIpad', 
          items: @books_new, 
          slice_size: 3 
        } %>
  </div>
  <div class="d-none d-lg-block mb-4">
    <%= render partial: 'pages/carousel', locals: { 
          carousel_id: 'newCarouselDesktop', 
          items: @books_new, 
          slice_size: 4 
        } %>
  </div>

</div>
