<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center my-4">レビューの編集</h1>

      <%= form_with model: @post, url: book_post_path(@book), html: { class: 'form-horizontal' } do |form| %>
        <div class="mb-3">
          <%= form.label :difficulty, class: "form-label" %>
          <%= form.number_field :difficulty, class: "form-control", in: 1..5, step: 1 %>
        </div>

        <div class="mb-3">
          <%= form.label :content, class: "form-label" %>
          <%= form.text_area :content, class: "form-control", rows: 5 %>
        </div>

        <div class="d-grid">
          <%= form.submit "更新", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
