<h1>編集</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :difficulty %><br>
    <%= form.number_field :difficulty %>
  </div>

  <div>
    <%= form.label :tag %><br>
    <%= form.text_field :tag %>
  </div>
  
  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "更新"%>
  </div>
<% end %>