<h1> Book app </h1>
<div><%= link_to "投稿" , new_post_path %></div>
<ul>
  <% @posts.each do |post| %>
    <li>
      <h2><%= post.title %></h2>
      <%= post.difficulty %><br>
      <%= post.tag %><br>
      <%= post.content %><br>
      <%= link_to "編集" ,edit_post_path(post)%>
      <%= button_to "削除" , post_path(post) , method: :delete%>
    </li>
  <% end %>
</ul>