<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "BookApp", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to new_admin_book_path, class: "nav-link" do %>
              本の投稿
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, data: { turbo_method: :delete }, class: "nav-link" do %>
              Sign out
            <% end %>
          </li>
        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to books_path, class: "nav-link" do %>
              本を探す
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" do %>
              Sign out
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
